In [12]:
import numpy as np
import pandas as pd

In [19]:
df=pd.read_csv('C:\\Users\\Harpreet\\Desktop\\Problem Statements\\6_Thyroid_Reoccurence_Prediction\\data\\raw\\Thyroid_Diff.csv')

df.head()

,Age,Gender,Smoking,Hx Smoking,Hx Radiothreapy,Thyroid Function,Physical Examination,Adenopathy,Pathology,Focality,Risk,T,N,M,Stage,Response,Recurred
0,27,F,No,No,No,Euthyroid,Single nodular goiter-left,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Indeterminate,No
1,34,F,No,Yes,No,Euthyroid,Multinodular goiter,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No
2,30,F,No,No,No,Euthyroid,Single nodular goiter-right,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No
3,62,F,No,No,No,Euthyroid,Single nodular goiter-right,No,Micropapillary,Uni-Focal,Low,T1a,N0,M0,I,Excellent,No
4,62,F,No,No,No,Euthyroid,Multinodular goiter,No,Micropapillary,Multi-Focal,Low,T1a,N0,M0,I,Excellent,No

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383 entries, 0 to 382
Data columns (total 17 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Age                   383 non-null    int64
 1   Gender                383 non-null    object
 2   Smoking               383 non-null    object
 3   Hx Smoking            383 non-null    object
 4   Hx Radiothreapy       383 non-null    object
 5   Thyroid Function      383 non-null    object
 6   Physical Examination  383 non-null    object
 7   Adenopathy            383 non-null    object
 8   Pathology             383 non-null    object
 9   Focality              383 non-null    object
 10  Risk                  383 non-null    object
 11  T                     383 non-null    object
 12  N                     383 non-null    object
 13  M                     383 non-null    object
 14  Stage                 383 non-null    object
 15  Response              383 non-null    object
 16  Recurred              383 non-null    object
dtypes: int64(1), object(16)
memory usage: 51.0+ KB

In [15]:
df.describe()

              Age
count  383.000000
mean    40.866841
std     15.134494
min     15.000000
25%     29.000000
50%     37.000000
75%     51.000000
max     82.000000

In [16]:
for column in df.select_dtypes(include=['object']).columns:
    print(f"Unique values in column '{column}': {df[column].unique()}")
    print(f"Number of unique values: {df[column].nunique()}\n")

Unique values in column 'Gender': ['F' 'M']
Number of unique values: 2

Unique values in column 'Smoking': ['No' 'Yes']
Number of unique values: 2

Unique values in column 'Hx Smoking': ['No' 'Yes']
Number of unique values: 2

Unique values in column 'Hx Radiothreapy': ['No' 'Yes']
Number of unique values: 2

Unique values in column 'Thyroid Function': ['Euthyroid' 'Clinical Hyperthyroidism' 'Clinical Hypothyroidism'
 'Subclinical Hyperthyroidism' 'Subclinical Hypothyroidism']
Number of unique values: 5

Unique values in column 'Physical Examination': ['Single nodular goiter-left' 'Multinodular goiter'
 'Single nodular goiter-right' 'Normal' 'Diffuse goiter']
Number of unique values: 5

Unique values in column 'Adenopathy': ['No' 'Right' 'Extensive' 'Left' 'Bilateral' 'Posterior']
Number of unique values: 6

Unique values in column 'Pathology': ['Micropapillary' 'Papillary' 'Follicular' 'Hurthel cell']
Number of unique values: 4

Unique values in column 'Focality': ['Uni-Focal' 'Multi-Focal']
Number of unique values: 2

Unique values in column 'Risk': ['Low' 'Intermediate' 'High']
Number of unique values: 3

Unique values in column 'T': ['T1a' 'T1b' 'T2' 'T3a' 'T3b' 'T4a' 'T4b']
Number of unique values: 7

Unique values in column 'N': ['N0' 'N1b' 'N1a']
Number of unique values: 3

Unique values in column 'M': ['M0' 'M1']
Number of unique values: 2

Unique values in column 'Stage': ['I' 'II' 'IVB' 'III' 'IVA']
Number of unique values: 5

Unique values in column 'Response': ['Indeterminate' 'Excellent' 'Structural Incomplete'
 'Biochemical Incomplete']
Number of unique values: 4

Unique values in column 'Recurred': ['No' 'Yes']
Number of unique values: 2

In [22]:
for column in df.select_dtypes(include=['object']).columns:
    if df[column].unique() <= 10:
        print(f"Value counts for column '{column}':\n{df[column].value_counts()}\
      n")

TypeError: '<=' not supported between instances of 'str' and 'int'